wofi/data_dirs/applications/*.desktop
wofi/data_dirs/applications/*.cache
wofi/data_dirs/applications/*.list

hypr/.secrets/*
!hypr/.secrets/README.md
hypr/assets/*
!hypr/assets/README.md

.zcompdump*
